<div class="section group">
<!-- LEFT-HAND COLUMN -->
  <div class="col_1_of_1">
  <!-- put profile picture of host -->
  <p>Artist Profile Pic</P>
  <p> <%= @artist.f_name %> <%= @artist.l_name %></p>
  </div>
</div>
<div class="section group">
    <div class="col_1_of_1">
    <h4>Art Work</h4>
    <ul>
      <% @pieces.each do |piece| %>
     <h4><img src=<%= piece.url %>></h4>
      <% end %>
    </ul>
    </div>
  </div>

<!-- maybe create a form for entering new artwork that can be seen only if user is the artist -->